/*
<!-- Shubham Sambhaji Sawant -->
<!-- instagram : @shubhams1401-->
<!-- 
 ////////  //     //  //     //  ////////   //     //   ////////   ///////////////   ////////  ////    //     //  /////////  ////  
//         //     //  //     //  //     //  //     //  //     //  //     //     //  //           //    //     //  //     //    //
//         //     //  //     //  //     //  //     //  //     //  //     //     //  //           //    //     //  //     //    //
 ///////   /////////  //     //  /////////  /////////  /////////  //     //     //   ////////    //    /////////  //     //    //
       //  //     //  //     //  //     //  //     //  //     //  //     //     //         //    //           //  //     //    //
       //  //     //  //     //  //     //  //     //  //     //  //     //     //         //    //           //  //     //    //
////////   //     //   ///////   ////////   //     //  //     //  //     //     //  ////////   //////         //  /////////  ////// 

 ////////  //     //  //     //  ////////   //     //   ////////   ///////////////  
//         //     //  //     //  //     //  //     //  //     //  //     //     //    
//         //     //  //     //  //     //  //     //  //     //  //     //     //    
 ///////   /////////  //     //  /////////  /////////  /////////  //     //     //
       //  //     //  //     //  //     //  //     //  //     //  //     //     //   
       //  //     //  //     //  //     //  //     //  //     //  //     //     //   
////////   //     //   ///////   ////////   //     //  //     //  //     //     //  

 ////////   ///////    ///////////////  ////////   //     //   ///////     //////    ///////  
//         //     //  //     //     //  //     //  //     //  //     //      //        //    
//         //     //  //     //     //  //     //  //     //  //     //      //        //    
 ////////  /////////  //     //     //  /////////  /////////  /////////      //        //
       //  //     //  //     //     //  //     //  //     //  //     //      //        //   
       //  //     //  //     //     //  //     //  //     //  //     //      //        //   
////////   //     //  //     //     //  ////////   //     //  //     //    ///       //////  

 ////////  /////////   //     //     //  ////////    ////////  //////////
//         //     //   //     //     //  //     //  //     //      //    
//         //     //   //     //     //  //     //  //     //      //    
 ///////   /////////   //     //     //  /////////  //     //      //
       //  //     //   //     //     //  //     //  //     //      //   
       //  //     //   //     //     //  //     //  //     //      //   
////////   //     //    //////////////   //     //  //     //      //
-->
<!-- Shubham Sambhaji Sawant -->
<!-- instagram : @shubhams1401-->
*/
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
* {}

.result-table {}

.result-table td {
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.input_size {
  width: 100px;
}

.home {
  width: 100Wh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 80px;
  font-family: 'Otomanopee One', sans-serif;
}

.logo {
  font-family: 'Otomanopee One', sans-serif;
}

.main_screen {
  /*border: 1px solid white;*/
  height: 77vh;
}


/*
<!-- Shubham Sambhaji Sawant -->
<!-- instagram : @shubhams1401-->
<!-- 
 ////////  //     //  //     //  ////////   //     //   ////////   ///////////////   ////////  ////    //     //  /////////  ////  
//         //     //  //     //  //     //  //     //  //     //  //     //     //  //           //    //     //  //     //    //
//         //     //  //     //  //     //  //     //  //     //  //     //     //  //           //    //     //  //     //    //
 ///////   /////////  //     //  /////////  /////////  /////////  //     //     //   ////////    //    /////////  //     //    //
       //  //     //  //     //  //     //  //     //  //     //  //     //     //         //    //           //  //     //    //
       //  //     //  //     //  //     //  //     //  //     //  //     //     //         //    //           //  //     //    //
////////   //     //   ///////   ////////   //     //  //     //  //     //     //  ////////   //////         //  /////////  ////// 

 ////////  //     //  //     //  ////////   //     //   ////////   ///////////////  
//         //     //  //     //  //     //  //     //  //     //  //     //     //    
//         //     //  //     //  //     //  //     //  //     //  //     //     //    
 ///////   /////////  //     //  /////////  /////////  /////////  //     //     //
       //  //     //  //     //  //     //  //     //  //     //  //     //     //   
       //  //     //  //     //  //     //  //     //  //     //  //     //     //   
////////   //     //   ///////   ////////   //     //  //     //  //     //     //  

 ////////   ///////    ///////////////  ////////   //     //   ///////     //////    ///////  
//         //     //  //     //     //  //     //  //     //  //     //      //        //    
//         //     //  //     //     //  //     //  //     //  //     //      //        //    
 ////////  /////////  //     //     //  /////////  /////////  /////////      //        //
       //  //     //  //     //     //  //     //  //     //  //     //      //        //   
       //  //     //  //     //     //  //     //  //     //  //     //      //        //   
////////   //     //  //     //     //  ////////   //     //  //     //    ///       //////  

 ////////  /////////   //     //     //  ////////    ////////  //////////
//         //     //   //     //     //  //     //  //     //      //    
//         //     //   //     //     //  //     //  //     //      //    
 ///////   /////////   //     //     //  /////////  //     //      //
       //  //     //   //     //     //  //     //  //     //      //   
       //  //     //   //     //     //  //     //  //     //      //   
////////   //     //    //////////////   //     //  //     //      //
-->
<!-- Shubham Sambhaji Sawant -->
<!-- instagram : @shubhams1401-->
*/